*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(background.jpg);
    height: 200vh;
    background-size: cover;
    background-position: center;
    
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 6px 20px;
    border: 2px solid;
    transition: 0.6s;
    margin-top: 10px;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;

}
.logo img{
    float: left;
    width: 150px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 30%;
    left: 30%;
    right: 30%;
    transform: translate(-50%;-50%);
}
.title h1{
    font-family: sans-serif;
    color: #fff;
    font-size: 50px;
}
.title h5{
    font-family: : sans-serif;
    color: #fff;
    font-size: 30px
}
.title p{
    font-family: : sans-serif;
    color: #fff;
    font-size: 20px
    align: center;
}
.img{
    width: 30px;
    height: 50px;
    position: center;
    margin-top:30px;
    text-align: center;
}
